.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.midsection {
    max-height: 90vh;
    display: flex;
    /* justify-content: space-between; */
}



.grid {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell_white {
    width: 70px;
    height: 70px;
    background-color: white;
}

.cell_black {
    width: 70px;
    height: 70px;
    outline: 1px solid rgb(175, 216, 248);
    background-color: #769656;
}

.cell_white_queen {
    width: 70px;
    height: 70px;
    background: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.cell_black_queen {
    width: 70px;
    height: 70px;
    background: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #769656;
}

.redqueen{
    color: red;
}

