.sidenav{
    width:18%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: darkcyan;
    /* background: url("../../../images/cyanback1.jpg"); */
    padding-top: 20px;
    /* padding-left: 20px; */
}

.navs{
    
    font-size: 18px;
    color: aliceblue;
    background: rgb(0 0 0 / 20%);
}

.mid{
    text-align: left;
    font-size: 18px;
    color: aliceblue;
    background: rgb(0 0 0 / 20%);
}

.middiv{
    margin-left: 30px;
}
.middiv div div{
    margin-right: 10px;
}
.middiv div{
    display: flex;
    margin-bottom: 6px;
}
.middiv div img{
    width: 20px;
}
.algoSelect{
    /* display: flex; */
    width: 90%;
    align-items: center;
}
.algoSelect div:nth-child(1){
    margin-right: 10px;
    margin-bottom: 20px;
}
.visulize_btn{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 18px;
    background-color: #1abc9c;
    border: #1abc9c;
    border-radius: 10px;
}
.reset_btn{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 18px;
    background-color: #eeee1a;
    border: #eeee1a;
    border-radius: 10px;
}
.reset_btn,.visulize_btn{
    background:slateblue;
    font-size:18px;
    padding: 10px 18px;
    /* width:96%; */
    cursor:pointer;
    text-align:center;
    border: none;
    border-radius: 13px;
    color:white;
    box-shadow: 0 6px #999;
    
    }
    .reset_btn:hover {
    background-color: #1abc9c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    .visulize_btn:hover {
        background-color: #1abc9c;
         box-shadow: 0 5px #666;
        transform: translateY(4px);
        }
.speed{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    background: rgb(0 0 0 / 20%);
}
.speed div:nth-child(1){
    /* width:20%; */
    margin-right: 10px;
}
.speed div:nth-child(2){
    color: #1abc9c;
    width: 70%;
}
.start_stop{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
 .navs{
    /* margin-left: 20px; */
 }
 .navs > div{
    /* width: 80%; */
    margin-top: 20px;
 }
 .MuiSelect-select{
    color: white;
 }